# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# IDEs
.vscode/
.idea/

# Operating System
Thumbs.db
Desktop.ini

# Project specific
Front-end/imgs/cache/